@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');
body{
    background:rgb(16, 21, 103);
    font-family: 'Lobster', cursive;
    color:#fff;

}
.logo{
    border-radius: 50%;
    width:40px;
    height: 40px; display: inline-block;
    box-shadow: 0 0 5px rgb(209, 204, 204);
}
.header{
    position: absolute;
    top:10px;
    left:10px;
    width:100%;
    z-index: 1111111111111111111111111;
}
.header ul{
    padding: 0;
    margin: 0;
    list-style: none; display: inline-block;
    transform: translate(0, -14px);
    
}
.header li{
    display: inline-block;
    font-size: 13px;
    color: #eee;
    opacity: 0.7;
    margin-left:20px;
}

h1{
    font-size: 50px;
    text-shadow: 0 0 15px #FE9E38;
    margin: 0;
}
.container{
    position: absolute;
    top:50%;
    left:50%;
    transform: translate(-50%, -50%);
    width:1000px;
    height: 500px;
    border-radius: 10px;
    overflow: hidden;
    background-color: #000077;
}
.list{
    position: absolute;
    top:0;
    left:0;
    width:100%;
    height: 100%;
    background-image: url(bg1.avif);
    background-size: 100%;
    background-position: 0 20%;
}
.item{
    position: absolute;
    top:0;
    left:0;
    width:100%;
    height: 100%;
    transition: 1s;
}
.item .img{
    position: absolute;
    bottom:0;
    left:50%;
    width:40%;
    height: 70%;
    transform: translate(-50%);
    opacity: 0;
    transition: 1s;
}
.active .img{
    opacity: 1;
    left:50%;
    z-index: 5;
}
.before .img{
    opacity: 1;
    left:30%;
    z-index: 4;
}
.after .img{
    opacity: 1;
    left:70%;
    z-index: 4;
}
.img img{
    width:100%;
}

.dots-page {
    position: absolute;
    bottom: 10px;
    left:50%;
    transform: translate(-50%, 0%);
    z-index: 111111111111;
}
.dots-page div{
    width:10px;
    height:10px;
    display: inline-block;
    background-color: #dcdcdc;
    margin:10px;
    border-radius: 50%;
    transition: 0.8s;
    opacity: 0.4;
}
.dots-page .active{
    background-color: #000;
}
 .next{
    position: absolute;
    bottom:40px;
    right:40px;
    z-index: 1111111111111111111111111111;
}
.next button{
    display: inline-block;
    border:none;
    padding:5px 7px;
    overflow: hidden;
    background-color: #939292;
    opacity: 0.3;

}
.info{
    animation:bgshow 2s ease-in-out 1 forwards;
}
.info .before, .info .after{
   opacity: 0;
}
.info .active .img{
    animation:img_show 2s ease-in-out 1 forwards;
}
@keyframes bgshow{
    0%{
        background-position: 0 20%;
    }
    20%{
        background-position: 0 30%;
    }
    100%{
        background-position: 0 0%; 
    }
}
@keyframes img_show{
    0%{
        height:70%;
    }
    100%{
        height:90%;
    }
}
.content1, .content2, .content3, .content4{
    position: absolute;
    top:20%;
    left:20px;
    z-index: 1111111111111111;    
    width:300px;
    opacity: 0;
}
.content2, .content3{
    left:unset;
    right:20px;
    top:10%;
}
.content2 ul{
   position: relative; 
}
.content2 ul::before{
    position: absolute;
    top:-10px;
    left:25px;
    width:1px;
    height: 110%;
    border-left: 1px solid #fff;
    content: ''; 
 }
.content2 li{
    padding:20px
 }
 .content2 li:nth-child(1),    .content2 li:nth-last-child(1){
    opacity: 0.4;
 }
 small{
    font-size: 10px;
}
.number{
    font-size: 50px;
}
.info .active .content1{
    animation:number1 2s ease-in-out 0.7s 1 forwards;
}
.info .active .content2{
    animation:number2 2s ease-in-out 0.7s 1 forwards;
}
@keyframes number1{
    0%{
        transform: translate(-100px,0);
        opacity: 0;
        filter: blur(20px);
    }
    100%{
        transform: translate(0px,0);
        opacity: 1;
        filter: blur(0px);
    }
}
@keyframes number2{
    0%{
        transform: translate(100px,0);
        opacity: 0;
        filter: blur(20px);
    }
    100%{
        transform: translate(0px,0);
        opacity: 1;
        filter: blur(0px);
    }
}
.info_1{
    animation:bgshow1 2s ease-in-out 1 forwards;
}
@keyframes bgshow1{
    0%{
        background-position: 0 0%; 
        background-size: 100%;
    }
    100%{
        background-position: 0 30%; 
        background-size: 110%;
    }
}
.info_1 .before, .info_1 .after{
    opacity: 0;
 }
 .info_1 .active .img{
     animation:img_show1 2s ease-in-out 1 forwards;
 }

 @keyframes img_show1{
     0%{
         height:90%;
        left:50%;
        width:40%;
     }
     100%{
         height:90%;
         width: 70%;
         left:20%;
     }
 }
 .info_1 .active .content3{
    animation:number2 2s ease-in-out 0.7s 1 forwards;
}
.info_2{
    animation:bgshow2 2s ease-in-out 1 forwards;
}
@keyframes bgshow2{
    0%{
        background-position: 0 30%; 
        background-size: 110%;
    }
    100%{
        background-position: 200% 30%; 
        background-size: 110%;
    }
}
.info_2 .before, .info_2 .after{
    opacity: 0;
 }
 .info_2 .active .img{
     animation:img_show2 2s ease-in-out 1 forwards;
 }

 @keyframes img_show2{
     0%{
         height:90%;
        left:20%;
        width: 70%;
     }
     100%{
         height:90%;
         width: 70%;
         left:70%;
     }
 }
 .info_2 .active .content4{
    animation:number1 2s ease-in-out 0.7s 1 forwards;
}
@media only screen and (max-width: 768px) {
    .container{
       width:100%;
       height: 100%;
    }
    .header ul{
       display: none;
    }
    .img img{
        position: absolute;
        left:0;
        bottom:0;
        height: 100%;
        width:unset
    }
    .before .img{
        left:0;
    }
    .active .img{
        left:30%;
    }
    .content2{
       top: unset;
       bottom:10%;
    }
   
   }
